html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  padding: 20px;
  background-image: url(./Sprinkle.svg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.Quiz {
  width: 60%;
  height: 100%;
  margin-left: 22%;
  color: #293264;
  z-index: 3;
  background-color: white;
}
.hideBox {
  display: none;
}
.label {
  width: auto;
  height: auto;
  background-color: white;
  margin: 20px;
  padding: 7px;
  border: 1px solid #293294;
  border-radius: 7px;
  text-align: center;
  font-weight: bold;
  font-size: 17px;

  min-width: 400px;
  cursor: pointer;
}
label:hover {
  background-color: rgba(161, 206, 218, 0.658);
}

.flex-choice {
  display: flex;
  flex-direction: row;
  margin-left: -3%;
}

.submit {
  display: block;
  margin: auto;
  margin-top: 50px;
  background-color: aliceblue;
  border: 1px solid #293264;
  border-radius: 6px;
  color: #293264;
  font-weight: bold;
  width: 140px;
  height: 50px;
  font-size: 17px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
.submit:active,
.HomeButt:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.HomeButt:hover {
  background-color: #cde2d3;
  color: #293264;
  border: 1px solid #293264;
}
.returnButton {
  border-radius: 5px;
  font-size: 15px;
  border: none;
  float: left;
  width: 5em;
  margin-left: -30px;
  cursor: pointer;
}
.Home {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.firstName,
.lastName {
  width: 320px;
  height: 30px;
  border-radius: 7px;
  border: 1px solid #293264;
}

.SelectCategory,
.SelectDifficulty {
  font-size: 16px;
  border-radius: 5px;
  height: 30px;
  border: 1px solid #293264;
}
.SelectDifficulty {
  width: 325px;
}
.HomeButt {
  cursor: pointer;
  color: white;
  text-align: center;
  background-color: #293294;
  font-size: 16px;
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 7px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  font-weight: bold;
}
.flex-Home {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

@media screen and (max-width: 600px) {
  .flex-choice {
    display: flex;
    flex-direction: column;
  }

  .firstName,
  .lastName,
  .SelectCategory,
  .SelectDifficulty {
    width: 200px;
    font-size: 11px;
    margin-top: 30px;
  }
  .returnButton {
    width: 3em;
    margin-left: 2em;
  }
}
